.select{
  text-align: center;
  .enemies{

    display: flex;
    flex-wrap: wrap;
    max-width: 955px;
    justify-content: center;

    .cardCreature{
      margin: 5px;

      mat-card-actions{
        display: flex;
        justify-content: center;
      }
    }
  }
}

