<h1>Card</h1>

<a #tooltip="matTooltip"
      matTooltip="Add a card"
      [matTooltipPosition]="'above'" mat-button href="./admin/card/new"><mat-icon aria-hidden="false" aria-label="Example add icon">add</mat-icon></a>

<h2>Last 20 cards</h2>

<table mat-table height="300px;" [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element" class="cell"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element" class="cell"> {{element.title}} </td>
  </ng-container>
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let element" class="cell"> <img src="/assets/images/{{element.editionName}}/{{element.codeName}}.jpg"/> </td>
  </ng-container>
  <ng-container matColumnDef="edition">
    <th mat-header-cell *matHeaderCellDef> Edition </th>
    <td mat-cell *matCellDef="let element" class="cell"> <img src="{{element.editionLogo}}"/> </td>
  </ng-container>
  <ng-container matColumnDef="commentary">
    <th mat-header-cell *matHeaderCellDef> Commentary </th>
    <td mat-cell *matCellDef="let element" class="cell"> {{element.commentary}}</td>
  </ng-container>
  <ng-container matColumnDef="mechanic">
    <th mat-header-cell *matHeaderCellDef> Mechanic </th>
    <td mat-cell *matCellDef="let element" class="cell"> {{element.mechanic}} </td>
  </ng-container>
  <ng-container matColumnDef="subType">
    <th mat-header-cell *matHeaderCellDef> SubType </th>
    <td mat-cell *matCellDef="let element" class="cell"> {{element.subType}} </td>
  </ng-container>
  <ng-container matColumnDef="codeName">
    <th mat-header-cell *matHeaderCellDef> CodeName </th>
    <td mat-cell *matCellDef="let element" class="cell"> {{element.codeName}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goTo(row.id)" [ngClass]="{'not-treated': !row.isTreated }"></tr>
</table>


