
.fight{

  display: flex;
  flex-direction: row;
  .Island{
    background-color: rgb(70, 141, 223);
  }
  .Plain{
    background-color: rgb(202, 211, 124);
  }

  .Mountain{
    background-color: rgb(207, 102, 84);
  }

  .Forest{
    background-color: rgb(24, 92, 52);
  }

  .Swamp{
    background-color: rgb(80, 82, 83);
  }

  .character{
    min-width: 330px;
    text-align: center;

    .pv{
      margin-top: 10px;
    }

    .mana{
      margin-top: 10px;
    }

    mat-card{
      height: 100%;
    }

    .artifact{
      margin: 10px;
    }
  }

  .manage{
    height: 100%;

    .inventory{
      margin-right: 60px;
      min-width: 330px;
      text-align: center;
      margin-bottom: 10px;

      mat-card{
        min-height: 184px;
        height: 100%;
      }
    }

    .spells{
      margin-right: 60px;
      min-width: 330px;
      text-align: center;

      mat-card{
        min-height: 184px;
        height: 100%;
      }
    }
  }

.interface{

  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

  .field{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2;
    width: 40%;
    margin-right: 10px;

    .enemy{
      margin-bottom: 50px;
    }

    .mat-progress-bar{
      height: 6px;
    }

    .cardCreature{
      max-width: 275px;
    }
  }

  .journal{
    flex: 1;

    mat-card-title{
      span{
        vertical-align: initial;
        margin-left: 290px;
      }
    }

    .logs{
      min-height: 455px;
      max-height: 455px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    span{
      vertical-align: super;
    }

    mat-card-content{
      background-color: wheat;
      color: black;
      padding: 10px;
      font-weight: bold;
    }
  }
}
